{
	"root": true,
	"env": {
		"node": true
	},
	"ignorePatterns": [
		"tests",
		"prisma",
		"vitest.config.ts",
		"etsc.config.js"
	],
	"parser": "@typescript-eslint/parser", // Specifies the ESLint parser
	"plugins": [
		"simple-import-sort",
		"eslint-plugin-import",
		"unused-imports",
		"eslint-plugin-node",
		"@typescript-eslint",
		"security"
	],
	"extends": [
		"async",
		"async/node",
		"async/typescript",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:security/recommended", // Uses recommended rules for security
		"plugin:prettier/recommended" // Enables eslint-plugin-prettier and displays prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
	],
	"parserOptions": {
		"project": [
			"./tsconfig.json"
		],
		"tsconfigRootDir": "./",
		"ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
		"sourceType": "module" // Allows for the use of imports
	},
	"rules": {
		"no-await-in-loop": "error",
		"no-return-await": "error",
		"prefer-promise-reject-errors": "error",
		"handle-callback-err": "error",
		"no-sync": "error",
		"max-nested-callbacks": "error",
		"prettier/prettier": "error",
		"no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_|opts"
			}
		],
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"sort-imports": "off",
		"import/order": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/require-await": "warn",
		"@typescript-eslint/no-misused-promises": [
			"error",
			{
				"checksVoidReturn": false
			}
		],
		"@typescript-eslint/await-thenable": "error",
		"@typescript-eslint/promise-function-async": "error",
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"error",
			{
				"vars": "all",
				"varsIgnorePattern": "^_",
				"args": "after-used",
				"argsIgnorePattern": "^_"
			}
		]
	}
}